@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --text-blue: hsl(238, 29%, 16%);
    --text-red: hsl(14, 88%, 65%);
    --text-xtradarkblue: hsl(237, 12%, 33%);
    --text-darkblue: hsl(240, 6%, 50%);
    --gradient-violet: hsl(273, 75%, 66%);
    --gradient-blue: hsl(240, 73%, 65%);
    --divider-blue: hsl(240, 5%, 91%);
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *:: before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 10rem 1rem;
    font-family: 'Kumbh Sans', sans-serif;
    min-height: 100vh;
    background-image: linear-gradient(var(--gradient-violet), var(--gradient-blue));
    color: var(--text-blue);
}

h1, h2, h3 {
    margin-top: 0;
}

.card {
    position: relative;
    background: #ffffff;
    border-radius: 2rem;
    max-width: 56rem;
    background-image: url(images/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-position: center 0%;
    background-size: 15rem;
    padding: 2.875rem 1.5rem;
}

.card__box {
    display: none;
}

.card__image {
    position: relative;
}

.card__image img {
    position: absolute;
    top: -7rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: auto;
    max-width: 15rem;
    display: block;
    
}

.card__text {
    padding-top: 7rem;
}

.accordion__item {
    padding-top: 1rem;
    border-bottom: 1px solid var(--divider-blue);
}

.accordion__item h2 {
    margin-bottom: 0;

}

.accordion__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: left;
    border: none;
    background: transparent;
    padding: 0;
    font-size: 0.875rem;
    font-family: 'Kumbh Sans', sans-serif;
    margin-bottom: 1rem;
}


.accordion__question::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border: none;
    background-image: url('/images/icon-arrow-down.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    transition: transform 300ms ease-in-out;
}

.accordion__content {
    font-size: 0.75rem;
    line-height: 1.4;
    margin-bottom: 1rem;
    padding: 1rem;

}

.accordion__question:focus-visible, .accordion__question:focus {
    border: none;
    /* outline: solid var(--text-darkblue); */
}

.accordion__question.open {
    font-weight: 700;

}

.accordion__question.open::after {
    transform: rotate(180deg);

}

.accordion__collapse.collapse {
    display: none;
}

.accordion__collapse.collapsing {
    height: 0;
    overflow: hidden;
    transition: height .35s ease;
}

.accordion__collapse.open {
    display: block;

}

/* Desktop Styles */

@media (min-width: 56em) {
    body {
        padding: 5rem;
    }
    .card {
        position: relative;;
        display: flex;
        margin: 0 auto;
        padding-right: 2rem;
        background-image: url(images/bg-pattern-desktop.svg);
        background-size: 45%;
        padding: 70px 100px 70px 0;
        background-position: -13% center;
    }

    .card__box {
        display: block;
        position: absolute;
        left: 0;
        top: 57%;
        transform: translateX(-50%) translateY(-50%);
        z-index: 1;
    }


    .card__image, .card__text {
        flex: 1;
    }

    .card__image {
        display: flex;
        align-items: center;
        overflow: hidden;
    }
    .card__image img {
        position: relative;
        top: auto;
        left: auto;
        transform: translateX(-4rem);
        max-width: 25rem;
    }

    .card__text {
        padding-top: 0;
    }
}